body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

header {
    background: #333;
    padding: 15px;
    color: #fff;
    text-align: center;
}

header nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.about {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
    font-size: 18px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.product-card {
    background: white;
    padding: 20px;
    width: 330px;          /* БОЛЬШЕ ширина */
    min-height: 420px;     /* больше места для текста */
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card img {
    width: 100%;
    height: 200px;         /* одинаковые размеры */
    object-fit: contain;   /* НЕ растягивает фото */
}

.product-card h3 {
    margin: 10px 0 5px;
}

.product-card p {
    font-size: 15px;
}

.product-card button {
    background: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.product-card button:hover {
    background: #555;
}
